.dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    @media screen and (max-width:450px){
        width: 100%;
        max-width: 380px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.ticket-cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: space-around;

}

.tickets-onse{
    width: 360px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    border: none;
    position: relative;
    background-image: url("../../public/download.png");
    background-position: center;
    background-size: cover; /* Rasmni divga moslashtirish */
    filter: brightness(0.8);
    @media screen and (max-width:450px){
        width: 95%;
       }
}

.tickets-motnly{
    width: 360px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    border: none;
    background-repeat: no-repeat;
    background-image: url("../../public/Types-of-concession-tickets-1024x538.jpg");
    background-position: center;
    background-size: cover; /* Rasmni divga moslashtirish */
    filter: brightness(0.75);
    @media screen and (max-width:450px){
        width: 95%;
       }
}


.tickets-all{
    width: 760px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    border: none;
    background-image: url("../../public/sell-more-tickets.jpg");
    background-position: center;
    background-size: cover; /* Rasmni divga moslashtirish */
    filter: brightness(0.75);
   @media screen and (max-width:450px){
    width: 95%;
   }

}

.dashboard-btn-box{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.dashboard-btn{
    width: 100%;

}


.dashboard-text{
  font-family: 'Roboto' , arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(183, 253, 230);
  padding: 5px;
  border-radius: 5px;
}


.dashboard-btn-use-ticket{
    width: 230px;
    margin-top:160px;
}


.dashboard-title{
    @media screen and (max-width:450px){
        text-align: center;
       }
}