.ticketscard{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 360px;
    background-color:lavender;
    border-radius: 15px;
    border: none;
    padding: 10px;
}

.ticketscard{
    align-items: center;
}



.ticket-buy{
    width: 230px;
}

