.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  border-radius: 18px;
  padding: 20px;
  margin-top: 150px;
  background-color: rgba(255, 255, 255, 0.962);
}

.login-inp {
  width: 280px;
  border: none;
}

.login-btn {
  width: 280px;
  box-shadow: 1px 1px 1px 1px rgb(11, 24, 138);
}

.login-btn:active {
  box-shadow: 0 2px 202;
  transform: translateY(2px);
  transition: 0.3s ease;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: blue;
  width: 100%;
  height: 50px;
  border-radius: 5px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 450px) {
  .dashboard {
    width: 100%;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.ticket-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}

.tickets-onse {
  width: 360px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  border: none;
  position: relative;
  background-image: url("../../public/download.png");
  background-position: center;
  background-size: cover; /* Rasmni divga moslashtirish */
  filter: brightness(0.8);
}
@media screen and (max-width: 450px) {
  .tickets-onse {
    width: 95%;
  }
}

.tickets-motnly {
  width: 360px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  border: none;
  background-repeat: no-repeat;
  background-image: url("../../public/Types-of-concession-tickets-1024x538.jpg");
  background-position: center;
  background-size: cover; /* Rasmni divga moslashtirish */
  filter: brightness(0.75);
}
@media screen and (max-width: 450px) {
  .tickets-motnly {
    width: 95%;
  }
}

.tickets-all {
  width: 100%;
  max-width: 760px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  border: none;
  background-image: url("../../public/sell-more-tickets.jpg");
  background-position: center;
  background-size: cover; /* Rasmni divga moslashtirish */
  filter: brightness(0.75);
}
.dashboard-btn-box {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.dashboard-btn {
  width: 100%;
}

.dashboard-text {
  font-family: "Roboto", arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(183, 253, 230);
  padding: 5px;
  border-radius: 5px;
}

.dashboard-btn-use-ticket {
  width: 230px;
  margin-top: 160px;
}

@media screen and (max-width: 450px) {
  .dashboard-title {
    text-align: center;
  }
}

.ticketscard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 360px;
  background-color: lavender;
  border-radius: 15px;
  border: none;
  padding: 10px;
}

.ticketscard {
  align-items: center;
}

.ticket-buy {
  width: 230px;
}

.tickets {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.payment-title {
  font-size: 30px;
}

.pay-btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1%;
}

.payment-btn {
  width: 200px;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.set-inp {
  width: 350px;
}

.set-btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.set-btn {
  width: 170px;
}/*# sourceMappingURL=style.css.map */