body {
  font-family: Arial, sans-serif;
  background-color: #f5f7fa;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 5px auto;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width:450px){
    max-width: 380px;
    display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5px;
  }
}

button {
  background: #0078ff;
  border: none;
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

button:hover {
  background: #005ecc;
}

input {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}
